//@import "node_modules/normalize.css/normalize";
@import "vars";
@import "fonts";


body{
    font-size: 15px;
    line-height: 24px;
    font-family: $roboto;
    color: $text;

}

ul{
    margin: 0;
    padding: 0;
}


a{
    display: inline-block;
    text-decoration: none;

}

.header__inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}


.header__item-basket{
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
}

.header__phone{
    margin-left: auto;
    
    span{
        color: $orange;   
    }
    a{
        color: #969cb4;
    }
}

.header__items{
    display: flex;
}

.header__btn{
    button{
        font-size: 12px;
        color:#fff;
        border-radius: 3px;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .header__login{
        background-color: $green;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 6px;
    }
    .header__registration{
        background-color: $orange;
        padding-right: 14px;
        padding-left: 14px;
    }
}

.header__item--active{
    position: relative;
    .header__icon{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
}



